@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@layer base {
  html {
    font-family: var(--font-roboto), system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  
  .snap-container {
    scroll-snap-type: y mandatory !important;
    scroll-behavior: smooth !important;
    overscroll-behavior-y: contain !important;
    scroll-snap-stop: always !important;
    transition: scroll-snap-align 5000ms cubic-bezier(0.2, 1, 0.3, 1);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), system-ui, sans-serif;
    font-weight: 700;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
